@charset "utf-8";
/* CSS Document */

	* {
		padding: 0;
		margin: 0;
		font-family: 'Kosugi Maru', sans-serif;
		font-weight: 300;
		box-sizing: border-box;
	}
	body {
		color: #333333;
	}
	.mw {
		max-width: 100%;
		width: 1140px;
		padding: 0 20px;
		margin: auto;
	}
	header {
		background-image: url(https://caferun.jp/assets/front/pc/img/global/navigation.png);
		background-position: center center;
		box-shadow: 0 0 6px 0 #0000004f;
		border-bottom: solid 1px #dbc9b9;
		padding: 20px 0;
	}
	header .header_left_logo{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 14px;
	}
	header .header_nav {
		display: flex;
		margin-left: auto;
	}
	header .header_body {
		display: flex;
	}
	header .header_main {
		margin-right: 30px;
		font-size: 14px;
		line-height: 1.4;
	}
	header ul.area_nav {
		display: flex;
		list-style: none;
		margin-bottom: 10px;
	}
	header ul.area_nav li::before {
		content: '｜'
	}
	header ul.area_nav li:first-child::before {
		content: ''
	}
	header ul.area_nav li a {
		padding: 0 5px;
		font-size: 14px;
		color: #5b1313;
	}
	header ul.sab_nav {
		display: flex;
	}
	header ul.login_nav {
		display: flex;
	}
	header .header_main_info strong{
		font-size: 20px;
		padding: 0 3px;
	}

	
	
	
	footer {
		border-top: solid 1px #dbc9b9;
		background-image: url(https://caferun.jp/assets/front/pc/img/global/navigation.png);
		background-position: center center;
	}
	footer .footer_head {
		padding: 20px 0 20px 0;
		margin-bottom: 0px;
		display: flex;
		align-items: center;
		font-size: 18px;
		border-bottom: solid 1px #e5cda7;
	}
	footer .footer_head a {
		margin-right: 20px;
	}
	footer .footer_head a img {
		width: 100px;
	}
	
	
	
	footer .footer_nav {
		padding: 30px 0;
	}
	footer .footer_nav ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding-right: 100px;
		line-height: 1.9;
	}
	footer .footer_nav ul li {
		margin-right: 25px;
	}
	footer .footer_nav ul li a {
		font-size: 15px;
		color: #5b1313;
	}
	
	
	footer .area_list {
		background-color: #FFFFFF;
		border: solid 1px #e5cda7;
		padding: 20px 20px 5px 20px;
	    box-shadow: 0 0 5px 0 #d3d3d3;
		width: 100%;
		position: relative;
		border-radius: 4px;
	}
	footer .area_list::after {
		content: '';
		display: block;
		height: 93px;
		width: 76px;
		background-image: url(https://caferun.jp/assets/front/pc/img/global/caferun_woman_03.png);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: 20px;
		bottom: calc(100% - 5px);
	}
	footer .area_list dt {
		font-size: 18px;
		margin-bottom: 15px;
	}
	footer .area_list ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}
	footer .area_list ul li {
		margin-bottom: 15px;
	}
	footer .area_list ul li a {
		padding: 15px 20px;
		margin-right: 15px;
		font-size: 14px;
		display: flex;
		background-color: #f2ebe5;
		border: solid 1px #dbc9b9;
		border-radius: 6px;
		text-decoration: none;
		color: #5b1313;
	}
	footer .area_list ul li a i {
		margin-left: 10px;
		color: #e96b8c;
	}
	
	
	
	
	footer .published {
		padding: 20px 0 20px 0;
	}
	footer .published p {
		font-size: 14px;
	}
	footer .published dt{
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 15px;
	}
	footer .published dd ul{
		display: flex;
		list-style: none;
		margin-bottom: 20px;
	}
	footer .published dd ul li {
		margin-right: 20px;
	}
	footer .published dd ul li a {
		display: block;
		font-size: 14px;
		padding: 10px 20px;
		border-radius: 50px;
		background-color: #43baff;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #569ec8;
	}
	footer small{
		font-size: 14px;
		line-height: 1;
		padding: 8px 0;
		display: block;
		background-color: #b99966;
		color: #FFFFFF;
		text-align: center;
	}
	