@charset "utf-8";
/* CSS Document */

/*================
 大見出し
================*/
/*----------------
 小見出し
----------------*/

#event {
    font-size: 14px;
}
#event a {
    text-decoration-line: none;
}
#event ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.event_fx {
    display: flex;
}
.event_fx_center {
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.event_fx_between {
    justify-content: space-between;
    /* align-items: center; */
}

/*================
 パンくず
================*/
/* kokubun.TODO: パンくずはなんとなく */
.event_breadcrumb-link {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.event_breadcrumb-link ul li {
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.event_breadcrumb-link ul li a {
    color: #333333;
    font-size: 12px;
}
.event_breadcrumb-link ul li.current a:before {
    content: "＞";
    font-size: 1px;
    margin-right: 6px;
}

/*================
 メイン
================*/

/*----------------
 メインビジュアル
----------------*/
.event_main_visual {
    background-image: url(../img/bg.png);
    background-position: center bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.event_main_visual_body {
    background-image: url(../img/main_visual.png);
    background-position: center bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 444px;
    align-items: center;
}
.event_main_visual_body h1 {
    position: relative;
    top: -20px;
    left: -140px;
}
.event_main_visual_body .event_catch {
    position: relative;
    top: 40px;
    left: -140px;;
}
.event_main_visual_body .event_catch p {
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}
.event_main_visual_body h1 img {
    max-width: 100%;
    position: relative;
} 

/*----------------
 メインビジュアル下告知
----------------*/
.event_appeal-container {
	background-image: url(../img/bg_strip01.png);
    background-repeat: repeat;
    height: 153px;
    border-bottom: solid 1px #FFF;
    align-items: center;
}
.event_appeal-container dl {
    width: 730px;
    text-align: center;
}
.event_appeal-container dl dt {
    font-size: 20px;
    color: #00a2ff;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.event_appeal-container dl dd {
    font-size: 14px;
    line-height: 1.6;
    justify-content: center;
}

/*----------------
 お店情報エリア
----------------*/
.event_shop-container {
    top: 63px;
    margin-bottom: 100px;
    position: relative;
}
.event_h2 {
    height: 189px;
    text-align: center;
    background-image: url(../img/h2_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
.event_h2 h2 img {
    top: 76px;
    position: relative;
    max-width: 100%;
    left: -30px;
    margin: 0 auto;
}
.event_shop-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
}
.event_shop-wrapper dl dt {
    height: 116px;
    background-repeat: repeat;
    padding: 17px 20px;
}
.event_shop-wrapper .event_shop-head .event_shop-icon {
    float: left;
}
.event_shop-wrapper .event_shop-head .event_shop-addr-name {
    position: relative;
    padding: 12px 15px;
    float: left;
}
.event_shop-wrapper .event_shop-head .event_shop-name {
    font-size: 24px;
    font-weight: bold;
    top: 15px;
    position: relative;
    top: 12px;
}
.event_shop-wrapper .event_shop-head .event_shop-name a {
    color: #00a2ff;
}
.event_shop-wrapper dl dd {
    padding: 30px 26px;
}
.event_shop-message {
    border-radius: 6px;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 16px 21px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 30px;
}

.event_shop-wrapper:nth-child(odd) {
    border: solid 3px #ade2ff;
    border-radius: 10px;
}
.event_shop-wrapper:nth-child(even) {
    border: solid 3px #ffe5bd;
    border-radius: 10px;
}
dl.event_shop-odd .event_shop-message {
    color: #1fbcaf;
    background-color:#d9ffef;
} 
dl.event_shop-even .event_shop-message {
    color: #ff7498;
    background-color:#ffecf4;
} 
.event_shop-message::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 3%;
    border: 15px solid transparent;
}
dl.event_shop-odd  .event_shop-message::before {
    border-top: 15px solid #d9ffef;
}
dl.event_shop-even  .event_shop-message::before {
    border-top: 15px solid #ffecf4;
}
dl.event_shop-odd dt {
    background-image: url(../img/bg_strip01.png);
} 
dl.event_shop-even dt {
    background-image: url(../img/bg_strip02.png);
}
.event_shop-body-info {
    justify-content: space-between;
}
.event_shop-body-img {
    border: solid #dfd3c0 2px;
    align-items: center;
}
.event_shop-body-img img {
    max-width: 100%;
}

.event_shop-body-data {
    border: solid #e2e2e2 2px;
    width: 520px;
    border-collapse: collapse;
    border-spacing: 0;
    align-items: center;
}
.event_shop-body-data table {
    width: 100%;
    border-collapse: collapse;
}
.event_shop-body-data th {
    vertical-align: middle;
    background-color: #e7f5ff;
    font-weight: bold;
    width: 85px;
    border-bottom: 2px solid #e2e2e2;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    padding-left: 15px;
}
.event_shop-body-data td {
    border-bottom: 2px solid #e2e2e2;
    padding: 15px 20px;
    border-collapse: collapse;
    border-spacing: 0;
}
.event_shop-body-data tr:last-child th,
.event_shop-body-data tr:last-child td {
    border-bottom:none;
}

.event_shop-foot {
    height: 87px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 28px;
    position: relative;
    background-size: contain;
}
.event_shop-odd .event_shop-foot {
    background-image: url(../img/shop_foot_bg01.png);
}
.event_shop-even .event_shop-foot {
    background-image: url(../img/shop_foot_bg02.png);
}

.event_shop-foot ul {
    display: flex;
    justify-content: center;
}
.event_shop-foot ul li {
    margin-right: 20px;
}
.event_shop-foot ul li a {
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 15px 20px;
    font-size: 26px;
    width: 300px;
    height: 80px;
    line-height: 1;
}
.event_shop-foot .event_btn-txt-w {
    color:#ffffff
}
.event_shop-odd .event_shop-foot .event_btn-01 {
    background-color: #ddf3ff;
    box-shadow: 0 4px #9fd1ed;
}
.event_shop-odd .event_shop-foot .event_btn-02 {
    background-color: #00a2ff;
    box-shadow: 0 4px #0087d4;
}
.event_shop-odd .event_shop-foot .event_btn-txt {
    color:#00a2ff
}
.event_shop-even .event_shop-foot .event_btn-txt {
    color:#ffa132
}
.event_shop-even .event_shop-foot .event_btn-01 {
    background-color: #fff6d6;
    box-shadow: 0 4px #facb82;
}
.event_shop-even .event_shop-foot .event_btn-02 {
    background-color: #ffa132;
    box-shadow: 0 4px #cc6500;
}

.event_more {
    align-items: center;
}
.event_more img {
    max-width: 100%;
}


/*================
 メインビジュアル微調整
================*/
@media screen and (max-width: 960px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 10px;
        width: 98%;
    }
}
@media screen and (max-width: 945px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 20px;
        width: 97%;
    }
}
@media screen and (max-width: 930px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 25px;
    }
}
@media screen and (max-width: 915px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 30px;
    }
}
@media screen and (max-width: 900px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 40px;
        width: 94%;
    }
}
@media screen and (max-width: 880px){	
    .event_main_visual_body h1 img.event_pc_img {
        left: 50px;
    }
    .event_main_visual_body .event_catch {
        left: -120px;
    }
}

@media screen and (max-width: 1100px) {
    .event_h2 h2 img {
        top: 78px;
        left: -32px;
    }
}

@media screen and (max-width: 1080px) {
    .event_h2 h2 img {
        top: 80px;
        left: -35px;
    }
}
@media screen and (max-width: 1050px) {
    .event_h2 h2 img {
        top: 82px;
        left: -38px;
        width: 65%;
    }
}
@media screen and (max-width: 1010px) {
    .event_h2 h2 img {
        top: 88px;
    }
}
@media screen and (max-width: 980px) {
    .event_h2 h2 img {
        top: 90px;
    }
}
@media screen and (max-width: 950px) {
    .event_h2 h2 img {
        top: 92px;
        width: 64%;
    }
}
@media screen and (max-width: 930px) {
    .event_h2 h2 img {
        top: 95px;
        left: -34px;
    }
}
@media screen and (max-width: 910px) {
    .event_h2 h2 img {
        top: 98px;
    }
}
@media screen and (max-width: 890px) {
    .event_h2 h2 img {
        top: 100px;
    }
}




@media screen and (min-width: 850px){	
    .event_pc { display:block; }
    .event_sp { display:none; }
    .event_pc_img { display: block; }
    .event_sp_img { display: none; }
}
@media screen and (max-width: 850px){	
  .event_pc { display:none; }
  .event_sp { display:block; }
  .event_pc_img { display: none; }
  .event_sp_img { display: block; }

}


@media screen and (max-width: 850px) {
    .event_main_visual {
        background-image: url(../img/sp_bg.png);
        background-size: cover;
    }
    .event_main_visual_body {
        background-image: url(../img/sp_main_visual.png);
        background-size: auto 100vw;
        background-position: center;
    }
    .event_main_visual_body h1 {
        position: relative;
        top: -15px;
        left: -40px;
    }
    .event_main_visual_body .event_catch {
        border-radius: 1vw;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
        background-color: #FFFFFF;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px 20px;
        left: 0;
        width: 95%;
    }
    .event_appeal-container {
        height: 24vh;
    }
    .event_shop-wrapper dl dd {
        padding: 3vw;
    }
    .event_appeal-container dl dt {
        font-size: 5vw;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    .event_appeal-container dl dd {
        font-size: 4vw;
    }
    .event_shop-container {
        top: 1vh;
    }
    .event_h2 {
        background-image: url(../img/sp_h2_bg.png);
        height: 50vh;
        background-size: contain;
        background-position: top;
        top: 2vh;
        position: relative;
    }
    .event_h2 h2 img {
        width: 57vw;
        margin: 0 auto;
        left: -1.5vw;
        top: 12.5vh;
    }
    .event_shop-body-info {
        flex-direction: column;
        justify-content: center;
    }
    .event_shop-body-img {
        text-align: center;
    }
    .event_shop-body-data {
        top: 10px;
        position: relative;
        width: 100%;
    }
    .event_shop-body-data td {
        padding: 10px;
    }
    .event_shop-foot ul li {
        margin-right: 1vw;
    }
    .event_shop-foot ul li a {
        width: 40vw;
        border-radius: 10vw;
        padding: 10px;
    }
    .event_shop-message::before {
        border: 10px solid transparent;
    }
}

@media screen and (max-width: 850px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 9vw;
    }
}
@media screen and (max-width: 830px) {
    .event_main_visual_body h1 img.event_sp_img {
        left: 5px;
    }
}
@media screen and (max-width: 800px) {
    .event_main_visual_body h1 img.event_sp_img {
        left: 10px;
    }
}
@media screen and (max-width: 780px) {
    .event_main_visual_body h1 img.event_sp_img {
        left: 10px;
    }
    .event_h2 h2 img {
        top: 11.5vh;
    }
}
@media screen and (max-width: 730px) {
    .event_h2 h2 img {
        top: 10.5vh;
    }
}
@media screen and (max-width: 650px) {
    .event_h2 h2 img {
        top: 9.5vh;
    }
}
@media screen and (max-width: 620px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 13vw;
    }
}
@media screen and (max-width: 600px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 14vw;
    }
}
@media screen and (max-width: 580px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 23vw;
        left: 10vw;
    }
    .event_h2 h2 img {
        top: 8.6vh;
    }
}
@media screen and (max-width: 580px) {
    .event_h2 h2 img {
        top: 8vh;
    }
}
@media screen and (max-width: 510px) {
    .event_h2 h2 img {
        top: 7.5vh;
    }
}
@media screen and (max-width: 475px) {
    .event_h2 h2 img {
        top: 7vh;
    }
}
@media screen and (max-width: 430px) {
    .event_h2 h2 img {
        top: 6.2vh;
    }
}
@media screen and (max-width: 415px) {
    .event_h2 h2 img {
        top: 5.5vh;
    }
}
@media screen and (max-width: 375px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 27vw;
        left: 12vw;
        width: 92%;
    }
    .event_h2 h2 img {
        top: 4.5vh;
    }
}
@media screen and (max-width: 320px) {
    .event_main_visual_body h1 img.event_sp_img {
        top: 40vw;
        left: 13vw;
    }
}

